# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Portfolio app
/portfolio/dist/
/portfolio/out-tsc/
/portfolio/tmp/
/portfolio/coverage/
/portfolio/e2e/test-output/
/portfolio/.angular/
/portfolio/node_modules/
/portfolio/.pnp
/portfolio/**/*.pnp.*
/portfolio/.yarn/*
!/portfolio/.yarn/patches
!/portfolio/.yarn/plugins
!/portfolio/.yarn/releases
!/portfolio/.yarn/versions
/portfolio/.next/
/portfolio/out/
/portfolio/build
/portfolio/**/.DS_Store
/portfolio/**/*.pem
/portfolio/**/.pnpm-debug.log*
/portfolio/**/.env*
/portfolio/**/.vercel
/portfolio/**/next-env.d.ts
/portfolio/.angular-cli.json
/portfolio/.ng/
